@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
body {
  font-family: 'Montserrat', sans-serif;
}

/* If you're using SCSS and prefer to use a variable for font-family */
$font-family: 'Montserrat', sans-serif;

body {
  font-family: $font-family;
  background-color:#FAFAFA ;
}
