.app-container {
  position: relative;;
  // display: flex;

}

.app-sidebar {

  position: fixed;
  z-index: 999 !important;
  top: 0;
  left: 0;
  bottom: 0;
}

.app-content {
  margin-left: 206px; /* Should match the width of the sidebar */
}
